<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ld250">
  <link name="base_link">
    <inertial>
      <origin
        xyz="-0.0 -0.000558579656259341 0.19628085445742"
        rpy="0 0 0" />
      <mass
        value="31.7708874265635" />
      <inertia
        ixx="1.4321537364116817"
        ixy="-0.00021015290755151665"
        ixz="0.005496458779909017"
        iyy="2.3703850448798"
        iyz="7.091594704601167e-05"
        izz="3.2982263614754664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.10" rpy="0 0 0" />
      <geometry>
        <box size="0.60 0.32 0.15" />
      </geometry>
    </collision>
  </link>
  <link name="upper_link">
    <inertial>
      <origin
        xyz="0.0 7.40048026755735E-07 0.183962865049824"
        rpy="0 0 0" />
      <mass
        value="37.86583486185633" />
      <inertia
        ixx="1.8045202567614834"
        ixy="-4.3952180272563335e-07"
        ixz="-0.0039263930777950835"
        iyy="2.9443091970742164"
        iyz="4.0945343968703666e-08"
        izz="3.9494696074514165" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/upper/upper_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.850980392156863 0.850980392156863 0.850980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/upper/upper_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="upper_joint"
    type="fixed">
    <origin
      xyz="0 0 0.38281"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="upper_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <!-- <link
    name="fan_link">
    <inertial>
      <origin
        xyz="0.0 2.8597108135497E-06 -5.82428649753552E-09"
        rpy="0 0 0" />
      <mass
        value="0.0038489737266031" />
      <inertia
        ixx="1.15831667938019E-06"
        ixy="-4.12029069162888E-12"
        ixz="-3.16330010117498E-15"
        iyy="4.78657875718181E-07"
        iyz="-3.64679814467869E-13"
        izz="6.85667057912928E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/fan/fan_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.10"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="fan_joint"
    type="fixed">
    <origin
      xyz="-0.47255 0 0.16501"
      rpy="0 0 0" />
    <parent
      link="upper_link" />
    <child
      link="fan_link" />
    <axis
      xyz="0 0 0" />
  </joint> -->
  <!-- <link
    name="control_link">
    <inertial>
      <origin
        xyz="0.0 -0.00141317441381272 -0.349182398611431"
        rpy="0 0 0" />
      <mass
        value="0.420849252973465" />
      <inertia
        ixx="0.000918325123704163"
        ixy="1.36329247254393E-07"
        ixz="-5.17110306529599E-07"
        iyy="0.000258354798435456"
        iyz="2.56383545417557E-07"
        izz="0.000733000766338133" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/control/control_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.20 0.20 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="control_joint"
    type="fixed">
    <origin
      xyz="0.56264 0.00088934 0.43525"
      rpy="0 0 0" />
    <parent
      link="fan_link" />
    <child
      link="control_link" />
    <axis
      xyz="0 0 0" />
  </joint> -->
  <!-- <link
    name="frame_link">
    <inertial>
      <origin
        xyz="0.0 -0.152999947432566 0.797861460445962"
        rpy="0 0 0" />
      <mass
        value="0.399714915773003" />
      <inertia
        ixx="0.000655125238933837"
        ixy="1.17229561300883E-09"
        ixz="-3.47283508374263E-20"
        iyy="0.00104193535537068"
        iyz="1.90582413132218E-19"
        izz="0.000735312069266715" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/frame/frame.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="frame_joint"
    type="fixed">
    <origin
      xyz="-0.090091 -0.00088934 -0.98307"
      rpy="0 0 0" />
    <parent
      link="control_link" />
    <child
      link="frame_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_box_link_1">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 1.11022302462516E-16 0.000100584828996442"
        rpy="0 0 0" />
      <mass value="0.01"/>
      <inertia
        ixx="5.23e-05" iyy="6.34e-05" izz="8.76e-05"
        ixy="3.31e-11" ixz="1.13e-20" iyz="7.54e-21"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_box/R_box_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.10 0.15"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_box_joint_1"
    type="fixed">
    <origin
      xyz="0.206964029465435 -0.152999947432566 0.825808780811189"
      rpy="0 0 0" />
    <parent
      link="frame_link" />
    <child
      link="R_box_link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_box_link_2">
    <inertial>
      <origin
        xyz="1.11022302462516E-16 1.11022302462516E-16 0.000100584828996775"
        rpy="0 0 0" />
      <mass value="0.01"/>
      <inertia
        ixx="5.23e-05" iyy="6.34e-05" izz="8.76e-05"
        ixy="3.31e-11" ixz="1.23e-20" iyz="8.16e-21"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_box/R_box_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.10 0.15"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_box_joint_2"
    type="fixed">
    <origin
      xyz="0 0 0.09"
      rpy="0 0 0" />
    <parent
      link="R_box_link_1" />
    <child
      link="R_box_link_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_box_link_1">
    <inertial>
      <origin
        xyz="8.32667268468867E-17 5.55111512312578E-17 0.000165121334551155"
        rpy="0 0 0" />
      <mass value="0.01"/>
      <inertia
        ixx="7.63e-05" iyy="1.15e-04" izz="1.17e-04"
        ixy="1.18e-10" ixz="1.05e-20" iyz="2.86e-20"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_box/L_box_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_box/L_box_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_box_joint1"
    type="fixed">
    <origin
      xyz="0.232104004883298 0.159817197207416 0.855808780811189"
      rpy="0 0 0" />
    <parent
      link="frame_link" />
    <child
      link="L_box_link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_box_link_2">
    <inertial>
      <origin
        xyz="1.38777878078145E-16 5.55111512312578E-17 0.000165121334550822"
        rpy="0 0 0" />
      <mass value="0.01"/>
      <inertia
        ixx="7.63e-05" iyy="1.15e-04" izz="1.17e-04"
        ixy="1.18e-10" ixz="-3.37e-21" iyz="9.19e-21"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_box/L_box_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_box/L_box_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_box_joint_2"
    type="fixed">
    <origin
      xyz="0 0 0.15"
      rpy="0 0 0" />
    <parent
      link="L_box_link_1" />
    <child
      link="L_box_link_2" />
    <axis
      xyz="0 0 0" />
  </joint> -->

  <!-- Wheel Left -->
  <link name="wheel_left">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia 
        ixx="0.00372" ixy="0" ixz="0"
        iyy="0.00704" iyz="0"
        izz="0.00372"/>
    </inertial>
    
    <!-- Collision only: cylinder for simplicity -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.09684" length="0.04"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.09684" length="0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="wheel_left_joint" type="continuous">
    <origin xyz="0.0 0.1991 0.09684" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_left" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Wheel Right -->
  <link name="wheel_right">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia 
        ixx="0.00372" ixy="0" ixz="0"
        iyy="0.00704" iyz="0"
        izz="0.00372"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.09684" length="0.04"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.09684" length="0.04" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_right_joint" type="continuous">
    <origin xyz="0.0 -0.1991 0.09684" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_right" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Caster Front Left -->
  <joint name="caster_front_left_joint" type="fixed">
    <origin xyz="0.2182 0.1238 0.011" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster_front_left"/>
  </joint>

  <link name="caster_front_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
      <material name="grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="2.0e-7" ixy="0" ixz="0"
              iyy="5.42e-7" iyz="0"
              izz="4.09e-7"/>
    </inertial>
  </link>

  <!-- Caster Front Right -->
  <joint name="caster_front_right_joint" type="fixed">
    <origin xyz="0.2182 -0.1238 0.011" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster_front_right"/>
  </joint>

  <link name="caster_front_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
      <material name="grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="2.0e-7" ixy="0" ixz="0"
              iyy="5.42e-7" iyz="0"
              izz="4.09e-7"/>
    </inertial>
  </link>

  <!-- Caster Back Left -->
  <joint name="caster_back_left_joint" type="fixed">
    <origin xyz="-0.2182 0.1725 0.011" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster_back_left"/>
  </joint>

  <link name="caster_back_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
      <material name="grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="2.0e-7" ixy="0" ixz="0"
              iyy="5.42e-7" iyz="0"
              izz="4.09e-7"/>
    </inertial>
  </link>

  <!-- Caster Back Right -->
  <joint name="caster_back_right_joint" type="fixed">
    <origin xyz="-0.2182 -0.1725 0.011" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster_back_right"/>
  </joint>

  <link name="caster_back_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
      <material name="grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="2.0e-7" ixy="0" ixz="0"
              iyy="5.42e-7" iyz="0"
              izz="4.09e-7"/>
    </inertial>
  </link>

  <!-- Lidar mounting link: base_scan -->
  <link name="base_scan">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- Small mass and inertia for the sensor frame -->
      <mass value="0.05" />
      <inertia ixx="0.0001" ixy="0" ixz="0"
               iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <!-- Small cylinder to represent the sensor mount -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.05" />
      </geometry>
      <material name="black">
        <color rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="scan_joint" type="fixed">
    <!-- Position the sensor above the chassis to avoid mesh overlap -->
    <origin xyz="0.35 0 0.20" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="base_scan" />
  </joint>

<gazebo reference="caster_front_left">
  <surface>
    <friction>
      <ode>
        <mu>0.0</mu>
        <mu2>0.0</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
      </ode>
    </friction>
  </surface>
</gazebo>

<gazebo reference="caster_front_right">
  <surface>
    <friction>
      <ode>
        <mu>0.0</mu>
        <mu2>0.0</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
      </ode>
    </friction>
  </surface>
</gazebo>

<gazebo reference="caster_back_left">
  <surface>
    <friction>
      <ode>
        <mu>0.0</mu>
        <mu2>0.0</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
      </ode>
    </friction>
  </surface>
</gazebo>

<gazebo reference="caster_back_right">
  <surface>
    <friction>
      <ode>
        <mu>0.0</mu>
        <mu2>0.0</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
      </ode>
    </friction>
  </surface>
</gazebo>
</robot>
